body {
	background: #D4D1D1;
}

.wrapper {
	width: 750px;
	margin: 0 auto;
}

.h1 {
	text-align: center;
}

.gruppa select{
	width: 180px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
}

.contentspisok {
	float: left;
}

.contentspisok select {
	background: black;
	color: white;
	width: 365px;
	font-size: 18px;
} 

.contentspisok option:hover {
	background: white;
	color: #393B0B;
}

.contentform {
	float: right;
	font-weight: bold;
}

input {
	background: black;
	color: white;
	font-weight: bold;
	font-size: 17px;
} 

p {
	display: inline-block;
	line-height: 0px;
	font-size: 20px;
}


