body {
	background: #D4D1D1;
}

.wrapper {
	margin: 0 auto;
	width: 725px;
}

h1 {
	text-align: center;
}

.gruppa select{
	border: 1px solid #393B0B;
	font-size: 15px;
	font-weight: bold;
	height: 30px;
	width: 180px;
}

.gruppa select:hover{
	border:2px solid  #04015C;
}

.contentlist {
	float: left;
}

.contentlist select {
	background: black;
	border: 1px solid #C0E0FF;
	color: white;
	font-size: 18px;
	width: 365px;
} 

.contentlist option:hover {
	background: white;
	color: #181407;
}

.contentform {
	float: right;
	font-weight: bold;
}

input {
	background: black;
	border: 1px solid #848484;
	color: white;
	display: block;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 31px;
	width: 250px;
} 

p {
	display: inline;
	font-size: 20px;
	font-style: italic;
}
