body {
	background: #D4D1D1;
}

.wrapper {
	width: 725px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

.gruppa select{
	border: 1px solid #393B0B;
	width: 180px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
}

.contentspisok {
	float: left;
}

.contentspisok select {
	background: black;
	color: white;
	border: 1px solid #848484;
	width: 365px;
	font-size: 18px;
} 

.contentspisok option:hover {
	background: white;
	color: #181407;
}

.contentform {
	float: right;
	font-weight: bold;
}

input {
	display: block;
	background: black;
	color: white;
	border: 1px solid #848484;
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 31px;
	width: 250px;
} 

p {
	display: inline;
	font-size: 20px;	
}
